.header {
    margin-top: 30px;

    &__left,
    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 40px;
    }

    &__logo-mobile {
        display: none;
    }

    &__right {
        justify-content: flex-end;
    }

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__mail,
    &__phone {
        display: flex;
        align-items: center;
        gap: 12px;

        font-size: 12px;
        font-weight: 400;
    }

    &__phone {
        font-weight: 800;
        font-size: 18px;
    }

    &__call-me {
        position: relative;
        padding: 0;

        font-size: 12px;
        line-height: 15px;

        &::before {
            position: absolute;
            bottom: -3px;
            left: 0;

            height: 2px;

            content: '';
            width: 100%;
            box-sizing: border-box;

            background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom left;
            background-size: 8px 1px;
            background-repeat: repeat-x;
            transform: rotate(180deg);
        }
    }
}