$purple: #6C5ED4;
$dark: #0A0815;
$white: #fff;
$gray-light: #EFEEF3;

$footer-gradient: linear-gradient(179.04deg, #161328 7.77%, #0A0815 90.38%);
$hero-gradient: linear-gradient(98.94deg, #131026 6.86%, #0A0815 87.11%);